<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<form action="{% url 'vehicle:battery_add' vehicle.ID %}" method="post">
    {% csrf_token %}
    <fieldset>
		    <div class="row">
			    <div class="col-md-12">
			    	<h3>Dane baterii</h3>
			        <div class="form-group">
			            <label for="id_ID" class="col-md-2 control-label">ID:</label>
			            <div class="col-md-12">
			            	{{ form.ID }}
			            </div>
			        </div>
                    <div class="form-group">
			            <label for="id_number" class="col-md-2 control-label">Numer:</label>
			            <div class="col-md-12">
			            	{{ form.number }}
			            </div>
			        </div>
                    <div class="form-group">
			            <label for="id_on" class="col-md-2 control-label">ON/OFF:</label>
			            <div class="col-md-12">
			            	{{ form.on }}
			            </div>
			        </div>
	        </div>
            </div>
        </fieldset>
    <input  class="btn btn-danger" type="submit" value="Dodaj" />
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}